header {
  height: 100px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 50px;
  font-family: cursive;
  line-height: 108px;
  text-align: center; }

nav {
  z-index: 5;
  width: 100%;
  position: absolute;
  font-weight: blod;
  font-fmaily: 'Roboto', sans-serif;
  color: #000000; }
  nav .navbar-header {
    font-size: 36px;
    display: inline-block; }
  nav .navbar {
    display: inline-block;
    text-align: center; }
    nav .navbar li {
      display: inline-block;
      font-size: 30px;
      margin: 20px; }

.about-us {
  background-color: #FFFFFF;
  padding: 100px 0; }
  .about-us h3 {
    font-size: 35px;
    margin-bottom: 40px; }
  .about-us h4 {
    font-size: 25px;
    padding-bottom: 20px; }
  .about-us p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 20px;
    color: #A7A7A7; }
  .about-us img {
    width: 45%; }
  .about-us div {
    float: right;
    width: 45%; }

.our-product {
  background: url(../img/event.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  padding: 100px 0; }
  .our-product h3 {
    font-size: 35px;
    color: #FFFFFF; }
  .our-product p {
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 0 50px; }

.our-product-block {
  text-align: center;
  display: inline-block;
  width: 27%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.64);
  border: 5px solid rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease-in-out;
  padding-left: 15px;
  padding-right: 15px; }
  .our-product-block img {
    padding: 20px 0 0 0;
    width: 100%; }
  .our-product-block h4 {
    color: #FFFFFF;
    padding: 20px 0;
    font-size: 20px; }

footer {
  background-color: #222;
  padding: 60px 0 50px;
  color: #FFFFFF; }
  footer h2 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase; }
  footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee; }

.text-center {
  text-align: center; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 55px;
  margin-left: 55px; }
