$white:#FFFFFF;
$black:#000000;
$main:#8b0000;
$pcolor:#A7A7A7;

header {
	height:100px;
	width:100%;
	background-color:$white;
	color:$black;
	font-size:50px;
	font-family:cursive;
	line-height:108px;
	text-align:center;
}

nav {
	z-index:5;
	width:100%;
	position:absolute;
	font-weight:blod;
	font-fmaily:'Roboto', sans-serif;
	color:$black;
	.navbar-header {
		font-size:36px;
		display:inline-block;
		
	}
	.navbar {
		display:inline-block;
		text-align:center;
		li {
			display:inline-block;
			font-size:30px;
			margin:20px;
		}
	}
}


.about-us {
	background-color:$white;
	padding:100px 0;
	h3 {
		font-size:35px;
		margin-bottom:40px;
	}
	h4 {
		font-size:25px;
		padding-bottom:20px;
	}
	p {
		font-size:16px;
		font-weight:300;
		line-height:32px;
		padding-bottom:20px;
		color:$pcolor;
	}
	img {
		width:45%;

	}
	div {
		float:right;
		width:45%;
	}
}

.our-product {
	background:url(../img/event.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
	padding:100px 0;
	h3 {
		font-size:35px;	
		color:$white;		
	}	
	p {
		font-size:18px;
		color:$white;

		padding:10px 0 50px;
	}
}

.our-product-block {
	text-align:center;
	display:inline-block;
	width:27%;
	margin:10px;
	background-color:rgba(0, 0, 0, 0.64);
	border:5px solid rgba(0, 0, 0, 0.33);
	transition:all 0.5s ease-in-out;
	padding-left:15px;
	padding-right:15px;
	img {
		padding:20px 0 0 0;
		width:100%;
	}
	h4{
		color:$white;
		padding:20px 0;
		font-size:20px;
	}	
}

footer {
	background-color:#222;
	padding:60px 0 50px;
	color:$white;
	h2 {
		font-size:30px;
		font-weight:500;
		padding-bottom:10px;
		text-transform:uppercase;
	}
	h4 {
		font-size:26px;
	}
	hr {
		margin-top:20px;
		margin-bottom:20px;
		border:0;
		border-top:1px solid #eee;
	}
	i {
		display:  inline-block;
		font-size:30px;
		margin:25px 20px 10px 25px;
	}
	p {
		display: inline-block;
	}
}

.text-center {
	text-align:center;
}

.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:55px;
	margin-left:55px;
}
