$white:#FFFFFF;
$black:#000000;
$main:#8b0000;

header {
	height:100px;
	width:100%;
	background-color:$white;
	color:$black;
	font-size:50px;
	font-family:cursive;
	line-height:108px;
	text-align:center;
}

nav {
	z-index:5;
	width:100%;
	position:absolute;
	font-weight:blod;
	font-fmaily:'Roboto', sans-serif;
	color:$black;
	.navbar-header {
		font-size:36px;
		display:inline-block;
		
	}
	.navbar {
		display:inline-block;
		text-align:center;
		li {
			display:inline-block;
			font-size:30px;
			margin:20px;
		}
	}
}


.about-us {
	background-color:$white;
	height:300px;
	padding:100px 0;
	h3 {
		font-size:35px;
	}
}

.text-center {
	text-align:center;
}

.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:55px;
	margin-left:55px;
}
