$white:#FFFFFF;
$black:#000000;
$main:#8b0000;
$pcolor:#A7A7A7;

header {
	height:100px;
	width:100%;
	background-color:$white;
	color:$black;
	font-size:50px;
	font-family:cursive;
	line-height:108px;
	text-align:center;
}

nav {
	z-index:5;
	width:100%;
	position:absolute;
	font-weight:blod;
	font-fmaily:'Roboto', sans-serif;
	color:$black;
	.navbar-header {
		font-size:36px;
		display:inline-block;
		
	}
	.navbar {
		display:inline-block;
		text-align:center;
		li {
			display:inline-block;
			font-size:30px;
			margin:20px;
		}
	}
}


.about-us {
	background-color:$white;
	padding:100px 0;
	h3 {
		font-size:35px;
		margin-bottom:40px;
	}
	h4 {
		font-size:25px;
		padding-bottom:20px;
	}
	p {
		font-size:16px;
		font-weight:300;
		line-height:32px;
		padding-bottom:20px;
		color:$pcolor;
	}
	img {
		width:45%;

	}
	div {
		float:right;
		width:45%;
	}
}

.our-product {
	background-color:$black;
	padding:100px 0;
	h3 {
		font-size:35px;	
		color:$white;		
	}	
	p {
		font-size:18px;
		color:$white;

		padding:10px 0 50px;
	}
}

.text-center {
	text-align:center;
}

.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:55px;
	margin-left:55px;
}
